<div id="<%= dom_id post %>" style="text-align:center; background-color: rgb(135, 255, 150">
  <p>
    <strong>Poster:</strong>
    <%= post.poster %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

</div>
