<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div style="text-align:center; color: red" >
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
